@font-face {
    font-family: 'LigatureSymbols';
    src: url('https://www.revmobmobileadnetwork.com/home/fonts/LigatureSymbols-2.11.eot');
    src: url('https://www.revmobmobileadnetwork.com/home/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('https://www.revmobmobileadnetwork.com/home/fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('https://www.revmobmobileadnetwork.com/home/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('https://www.revmobmobileadnetwork.com/home/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('https://www.revmobmobileadnetwork.com/home/fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; }

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;}

.lsf-icon.dashboard:before {
  content: '\E029';
  color: #0382dc; }

html {
  margin: 0;
  padding: 0;
  border: 0; }



.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img {
  border: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }

article, p, blockquote {
  color: #727272; }

.job {
  margin-bottom: 80px; }

.job p, .job strong, .job ul {
  line-height: 26px; }

.job p, .job ul {
  margin-bottom: 25px; }

.job strong {
  display: block;
  padding-bottom: 10px; }

.job ul {
    margin-left: 35px; }

.content, .our-work, .customers, .testimonials {
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto; }

.content:before, .content:after, .our-work:before, .our-work:after, .customers:before, .customers:after, .testimonials:before, .testimonials:after {
  content: " ";
  display: table; }

.content:after, .our-work:after, .customers:after, .testimonials:after {
  clear: both; }

[role='main'] {
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 82px;
  z-index: 9999; }

[role='main']:before, [role='main']:after {
  content: " ";
  display: table; }

[role='main']:after {
  clear: both; }

[role='main'] section {
  margin-bottom: 48px; }

#index [role='main'] {
  width: 100%;
  max-width: 100%; }

header > .content > h1 {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }

header > .content > h1:last-child {
  margin-right: 0; }

header > .content > nav {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%; }
  header > .content > nav:last-child {
  margin-right: 0; }

header p {
  margin-bottom:40px; }

.our-work li, .testimonials li, .our-culture li {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }

.our-work li:last-child, .testimonials li:last-child, .our-culture li:last-child {
  margin-right: 0; }

.customers li {
  display:inline-block;
  text-align: center;
  vertical-align: center;
  float: left;
  width: 20%;
  height: 61px; }

.customers li:last-child {
  margin-right: 0; }

.customers li img {
  margin: auto;
  vertical-align: middle; }

#monetization article, #advertising article {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  height: 350px;
  margin-bottom: 48px; }

#monetization article:last-child, #advertising article:last-child {
  margin-right: 0; }

#monetization article:nth-child(2n + 1), #advertising article:nth-child(2n + 1) {
  margin-right: 0; }

#monetization article header, #advertising article header {
  margin-bottom: 10px; }

#monetization article blockquote, #advertising article blockquote {
  padding: 0 50px; }

[role='navigation'], .navigation {
  display: inline;
  float: right; }

[role='navigation'] li, .navigation li {
  display: inline;
  float: left; }

.social-network {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 30.70196%;
  list-style: none;
  margin-top: 8px; }

.social-network:last-child {
  margin-right: 0; }

.social-network li {
  display: inline;
  float: left;
  margin-left: 10px; }

.social-network li:first-child {
  margin-left: 0; }

.about {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }

.about:last-child {
  margin-right: 0; }

.team {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 8.5298%; }

.team:last-child {
  margin-right: 0; }

#faqs aside {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 31.76157%; }

#faqs aside:last-child {
  margin-right: 0; }

#faqs aside.fixed {
  width: 305px; }

#faqs aside.fixed + .questions {
  margin-left: 34.11922%; }

#faqs .questions {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%; }

#faqs .questions:last-child {
  margin-right: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  color: #2c3e50;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
  font-size: 30px;
  font-weight: bold; }

h2 {
  color: #2c3e50;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
  font-size: 28px;
  font-weight: bold; }

h3 {
  color: #34495e;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
  font-size: 26px;
  font-weight: bold; }

h4 {
  color: #2c3e50;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
  font-size: 24px;
  font-weight: bold; }

h5 {
  color: #2c3e50;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
  font-size: 22px;
  font-weight: bold; }

h6 {
  color: #2c3e50;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
  font-size: 20px;
  font-weight: bold; }

a {
  text-decoration: none; }

article, p, blockquote {
  color: #727272; }

.job {
  margin-bottom: 80px; }

.job p, .job strong, .job ul {
  line-height: 26px; }

.job p, .job ul {
  margin-bottom: 25px; }

.job strong {
  display: block;
  padding-bottom: 10px; }

.job ul {
  margin-left: 35px; }

.icons-sprite, .facebook, .facebook:hover, .facebook:active, .twitter, .twitter:hover, .twitter:active, .google-plus, .google-plus:hover, .google-plus:active, .signin, .signup, .mobile-menu, .team a {
  background: url('https://www.revmobmobileadnetwork.com/home/images/icons-s7b5f621e2a.png') no-repeat; }

.facebook {
  background-position: 0 -282px;
  display: block;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  height: 37px;
  width: 37px; }

.facebook:hover {
  background-position: 0 -376px; }

.facebook:active {
  background-position: 0 -188px; }

.twitter {
  background-position: 0 -235px;
  display: block;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  height: 37px;
  width: 37px; }

.twitter:hover {
  background-position: 0 -329px; }

.twitter:active {
  background-position: 0 -141px; }

.google-plus {
  background-position: 0 -47px;
  display: block;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  height: 37px;
  width: 37px; }

.google-plus:hover {
  background-position: 0 -94px; }

.google-plus:active {
  background-position: 0 0; }

.signin {
  background-position: 0 -843px; }

.signup {
  background-position: 0 -864px; }

.signin, .signup {
  background-position-x: 12px; }

.testimonials li {
  background: url("https://www.revmobmobileadnetwork.com/home/images/comment.png") no-repeat 20px 0; }

.mobile-menu {
  background-position: 0 -786px;
  text-indent: -999px; }

body .mobile-menu {
  display: none; }

body a:hover, body a.current {
  color: #63beff; }

body > header, body > footer {
  background-color: #232d37; }

body > header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

body h1 {
  margin: 16px 0; }

[role='navigation'], .navigation {
  margin-top: 30px;
  margin-bottom: 10px;  }

[role='navigation'] li, .navigation li {
  font-size: 12px;
  padding: 0 15px;
  position: relative; }

[role='navigation'] li.signin, [role='navigation'] li.signup, .navigation li.signin, .navigation li.signup {
  border-left: 1px solid #56585b; }

[role='navigation'] li.signin a, [role='navigation'] li.signup a, .navigation li.signin a, .navigation li.signup a {
  color: #0394f0;
  padding-left: 12px; }

[role='navigation'] li.signin:before, [role='navigation'] li.signup:before, .navigation li.signin:before, .navigation li.signup:before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  background: black;
  height: 15px;
  width: 1px; }

[role='navigation'] a, .navigation a {
  color: #c4c4c4;
  text-transform: uppercase;
  text-decoration: none; }

header .forms {
  height: 24px;
  margin-top: 9px;
  margin-bottom: 10px;
  width: 138px;
  border: 1px solid #dadada; }

header .forms:focus {
  border: 2px solid #0382dc;
  outline: 0 none}

header .sign-in-form {
  display: inline;
  float: right;
  width: auto;
  height:auto;
  padding-bottom: 10px;
  margin-top: 10px;}

header .sign-in  {
  background: #0382dc;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
  font-size: 14px;
  text-align: center;
  height: auto;
  width: auto;
  padding: 4px 6px 4px 6px;
  margin-left: 10px;
  letter-spacing: 0.5;
  border:0;
}

.remember-me {
  display: inline;
  font-size: 13px;
  margin-top: 30px;
  color: #c4c4c4;
  margin-right: 30px;
  margin-bottom:20px;}

[role='banner'] {
  height: 450px;
  position: relative; }

[role='banner'] hgroup {
    margin-top: 30px;
    text-align: left;
    width:540px; }

[role='banner'] h2 {
    font-size: 30px;
    letter-spacing: -1px;
    margin-bottom: 14px; }

[role='banner'] h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 32px;
    color: #4d5e6f; }

[role='banner'] .sign-up  {
    border: solid 0px;
    background:  #0382dc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    display: block;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
    font-size: 20px;
    height: 40px;
    text-align: center;
    margin-top: 18px;
    width: 298px;
    margin-bottom: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: solid 0px;
}

.sign-up:hover  {
    background: #0382dc;
    text-decoration: none;
}

.sign-up:active  {
    background: #004576;
    text-decoration: none
    border:none;
}

.sign-up:focus {
    background: #004576;
    outline: none;
}

[role='banner'] .sign-up-form {
      position:absolute;
      top: 0px;
      right: 0;
      background: white;
      width: 341px;
      height:370px;
      padding-top: 20px;
      padding-left: 20px; }

[role='banner'] .forms {
  height: 36px;
  margin-top: 14px;
  width: 298px;
  border: 1px solid #dadada; }

[role='banner'] .forms:focus {
  border: 1px solid #0382dc;
  outline: 0 none;}

[role='banner'] .form-text{
  color-text:#34495e ; }

[role='banner'] a:hover li {
  background: #025b9a;
  color: #c4c4c4; }

[role='banner'] a:active li {
  background: #0382dc;
  color: white;
  box-shadow: inset 0 2px 5px #025b9a; }

[role='banner'] .terms {
  font-size: 13px; }

[role='banner'] .terms:first-child {
  padding-left: 20px; }

[role='banner']  ul {
  display: inline;
  float: left;
  height: auto; }

[role='banner'] li {
  display: inline;
  float: left;
  color: red;
  padding-right: 12px;
  font-size: 18px; }

[role='banner'] li {
  display: inline;
  float: left;
  color: red;
  padding-right: 12px; }

[role='banner'] a {
  text-decoration: none;
  color: #0382dc; }

[role='banner'] .div {
  border-left: 1px solid #c3c3c3;
  padding-left: 12px;
  height: auto; }

.terms a:hover {
    background: none;
    color: #63beff; }

.terms a:active {
    background: #0382dc;
    color: white;
    box-shadow: inset 0 2px 5px #025b9a; }

.terms {
    font-size: 13px;
    color: #0382dc; }

#index [role='main'] {
    background: url("https://www.revmobmobileadnetwork.com/home/images/background.png") left top repeat-x; }

.our-work, .testimonials, .our-culture {
    text-align: center; }

.our-work h2, .testimonials h2, .our-culture h2 {
    padding-bottom: 11px; }

.our-work p, .testimonials p, .our-culture p {
    color: #727272;
    font-size: 14px;
    line-height: 24px; }

.our-work img, .testimonials img, .our-culture img {
    margin-bottom: 10px; }

.our-work li {
    margin-top: 91px; }

.our-culture {
    overflow: hidden; }

section h1 {
  font-size: 34px;
  margin-top: 70px;
  text-align: center;
  text-transform: uppercase;
  position: relative; }

section h1:before {
  content: "";
  background: #dadada;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1; }

section h1 + p {
  color: #727272;
  font-size: 16px;
  margin-top: 5px;
  text-align: center; }

section h1 span {
  background: white;
  padding: 0 22px;
  position: relative;
  z-index: 100; }

#index section .newh2 {
  font-size: 20px;
  margin-top: 70px;
  text-align: center;
  text-transform: uppercase;
  position: relative; }

#index section .newh2:before {
  content: "";
  background: #dadada;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 11px;
  left: 0;
  z-index: 1; }

#index section .newh2 + p {
  color: #727272;
  font-size: 16px;
  margin-top: 5px;
  text-align: center; }

#index section .newh2 span {
  background: white;
  padding: 0 22px;
  position: relative;
  z-index: 100; }

#jobs article {
  line-height: 26px;
  padding-bottom: 40px; }

#jobs article header {
  margin-bottom: 0; }

#jobs article .bottom {
  border-top: none;
  border-bottom: 1px solid #dadada;
  padding-bottom: 20px; }

#jobs h2 {
  font-size: 20px;
  margin-top: 70px;
  text-align: center;
  text-transform: uppercase;
  position: relative; }

#jobs h2:before {
  content: "";
  background: #dadada;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 11px;
  left: 0;
  z-index: 1; }

#jobs h2 + p {
  color: #727272;
  font-size: 16px;
  margin-top: 5px;
  text-align: center; }

#jobs h2 span {
  background: white;
  padding: 0 22px;
  position: relative;
  z-index: 100; }

#jobs ul {
  clear: both;
  margin-left: 35px; }

.customers ul {
  display: block;
  margin-top: 80px; }

.testimonials li {
  padding-left: 80px;
  margin: 54px 0;
  text-align: left; }

.testimonials [rel='author'] {
  display: block;
  margin-top: 36px; }

.testimonials a, .testimonials [rel='author'] {
  color: #727272;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold; }

.about p {
  color: #727272;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 48px;
  text-align: justify; }

.team li {
  color: #727272;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-bottom: 30px;
  font-size: 14px;
  overflow: hidden; }

.team li:last-child {
  margin-right: 0; }

.team li:nth-child(2n) {
  margin-right: 0; }

.team li:nth-child(2n) {
  margin-left: 17.05961%; }

.team figure {
  text-align: center;
  overflow: hidden;
  margin-bottom: 10px; }

.team h2 {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase; }

.team p {
  padding-left: 35px;
  position: relative; }

.team a {
  display: inline-block;
  height: 28px;
  background-position: 0 -423px;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  position: absolute;
  left: 0;
  width: 28px; }

footer .navigation {
  margin: 20px 0; }

footer .content {
  position: relative; }

footer .links, footer .vcard {
  background: #1a222a; }

footer .vcard {
  font-size: 14px;
  line-height: 26px;
  left: -21px;
  padding: 16px 24px;
  position: absolute;
  top: 60px;
  width: 282px;
  z-index: 100; }

footer .vcard p {
  color: #c4c4c4; }

footer .vcard:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 1px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid black; }

#map {
  height: 300px; }

.copyright {
  color: #c4c4c4;
  font-size: 11px;
  text-align: right;
  padding: 5px 0; }

#monetization article, #advertising article {
  text-align: center; }

#monetization blockquote, #advertising blockquote {
  text-align: center;
  line-height: 26px; }

.bottom {
  border-top: 1px solid #dadada;
  padding-top: 20px;
  text-align: right; }

.bottom .apply {
  background: #0382dc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  display: block;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
  font-size: 32px;
  height: 78px;
  letter-spacing: -1px;
  line-height: 72px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
  font-size: 16px;
  letter-spacing: normal;
  width: 200px;
  height: 40px;
  line-height: 42px;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 20px; }

.bottom .apply:hover {
  background: #025b9a;
  color: #c4c4c4; }

.bottom .apply:active {
  background: #0382dc;
  color: white;
  box-shadow: inset 0 2px 5px #025b9a; }

.bottom .back {
  font-size: 14px;
  padding-right: 10px; }

.bottom .apply, .bottom .back {
  display: inline; }

#faqs aside ul {
  list-style: none; }

#faqs aside li {
  margin-bottom: 4px; }

#faqs aside a {
  background: #f6f6f6;
  color: #232d37;
  display: block;
  font-size: 14px;
  padding: 10px 0 10px 15px;
  position: relative; }

#faqs aside a:hover, #faqs aside a.current {
  background: #0382dc;
  color: white; }

#faqs aside a:hover:after, #faqs aside a.current:after {
  content: "";
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 18.5px;
  border-left-color: #0382dc;
  right: -36px;
  top: 0;
  position: absolute; }

#faqs .questions {
  font-size: 14px;
  line-height: 28px;
  text-align: justify; }

#faqs .questions a {
  color: #0382dc; }

#faqs .questions > p {
  margin-bottom: 20px; }

#faqs .questions article {
  clear: both;
  padding-top: 45px; }

#faqs .questions header {
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f6f6f6; }

#faqs .questions h2 {
  font-size: 16px; }

#faqs .questions h2 a {
  color: #727272; }

#faqs .questions dl {
  padding-left: 22px; }

#faqs .questions dt {
  font-weight: bold;
  padding-bottom: 10px; }

#faqs .questions dd {
  padding-left: 22px;
  padding-bottom: 30px; }

.share{
  position: absolute;
  top: 400px;
  left: 0;}

.share li {
  display: inline;
  margin-right: 10px; }

#big-internal-buttons:hover {
  background-color: #eeeeee; }

#big-internal-buttons:active{
  background-color: #e1e1e1; }

.cotation {
  display:block;
  float: left;
  margin-right:5.733%;
  width: 19.879%;
  height:auto;
  margin-bottom: 145px;
  margin-top:40px;
  text-align: left;
  font-weight: inherit;
  font-style: inherit;
  font-size: 16px;
  font-family: inherit;
  vertical-align: baseline;
  padding-left: 10px; }

.text {
  display:block;
  float: left;
  width: 74.388%;
  margin-bottom: 145px;
  margin-top:59px;
  margin-left: 30px;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 16px;
  font-family: inherit;
  vertical-align: baseline; }

.cotation_text {
  margin-top: 40px; }

.text p {
  text-align: justify;
  line-height: 32px;
  font-size:16px;
  margin-top: 20px;
  color: #727272; }

.cotation p {
  text-align: left;
  line-height: 32px;
  font-size:14px;
  margin-top: 10px;
  margin-bottom: 20px; }

.content_links {
  display:inline;
  margin-right:20%;
  margin-left:20%;
  margin-bottom: 4px;
  margin-top: 4px; }

.content_links:first-child {
  float:left;
  margin-right:0px;
  margin-left:0px;
  margin-bottom: 4px;
  margin-top: 4px; }

.content_links:last-child {
  float:right;
  margin-right:0px;
  margin-left:0px;
  margin-bottom: 4px;
  margin-top: 4px; }

.text li {
  list-style:none;
  text-align: left;
  line-height: 32px;
  font-size:16px;
  color: #727272; }

.text ul {
  margin-top: 20px; }

.question  {
  text-align: left;
  line-height: 32px;
  font-size:14px;
  margin-top: 20px;
  margin-bottom: 48px; }

#display-fix .sign-up {
  background: #0382dc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: white;
  display: block;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
  font-size: 32px;
  height: 78px;
  letter-spacing: -1px;
  line-height: 72px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px; }

#display-fix .sign-up:hover {
  background: #025b9a;
  color: #c4c4c4; }

#display-fix .sign-up:active {
  background: #0382dc;
  color: white;
  box-shadow: inset 0 2px 5px #025b9a; }

.link_word {
  text-decoration: none;
  color: #0382dc;
  font-size:16px; }

.link_word:hover {
  background: none; }

.subclause{
  display:block;
  float: left;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;}

.subclause p {
  margin-bottom: 48px;
  line-height: 32px}

.subclause ul {
  padding-top:10px; }

.subclause li{
  list-style: none;
  text-align: left;
  line-height: 32px;
  color: #727272;
  padding-left: 60px;
  font-size: 14px; }

#index section .main-title {
  letter-spacing: 1px;
  position: relative;
  font-size: 32px;
  text-align: left;
  text-transform: none;}

#index section .main-title:before {
  content: "";
  background: #dadada;
  width: 100%;
  height: 0px;
  position: absolute;
  top: 11px;
  left: 0;
  z-index: 1; }




/*::-webkit- input-placeholder {
  color:#e74c3c;
  padding-left: 5px;
  font-size: 12px;
}

#e74c3c*/
/*#18100f*/



  * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 320px) and (max-width: 568px) {
  header > .content > h1 {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 46.28851%; }
  header > .content > h1:last-child {
  margin-right: 0; }
  header > .content > h1 a {
  padding-left: 15px; }

header > .content a.mobile-menu {
  right: -12px;
  top: 13px;
  float: none;
  width: 47px;
  height: 47px;
  position: absolute;
  z-index: 100; }

header > .content [role='navigation'] {
  margin-bottom: 0;
  display: none; }

header > .content [role='navigation'] li a {
  padding: 20px 0; }

header > .content ul {
  margin-top: 0; }

header > .content > nav, header > .content ul, header > .content li, header > .content a {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }

header > .content > nav:last-child, header > .content ul:last-child, header > .content li:last-child, header > .content a:last-child {
  margin-right: 0; }

header > .content > nav {
  background: #232d37;
  position: absolute;
  z-index: 99; }

header > .content li {
  background: none;
  padding: 10px;
  text-align: center; }

header > .content a {
  padding-left: 0; }

#index section .main-title {
  font-size: 22px;
  margin-top: 70px;
  position: relative; }

[role='banner'] h2 {
  font-size: 35px; }

[role='banner'] h3 {
  font-size: 14px;}

.our-work li, .testimonials li, .our-culture li {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }

.our-work li:last-child, .testimonials li:last-child, .our-culture li:last-child {
  margin-right: 0; }

.our-work li {
  margin-top: 15px;
  padding: 0 10px; }

.customers {
  display: none; }

footer .social-network {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 46.28851%;
  margin-bottom: 10px;
  text-align: right; }

footer .social-network:last-child {
  margin-right: 0; }

footer .navigation {
  display: none; }

.about, .team {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%; }

.about:last-child, .team:last-child {
   margin-right: 0; }

.about li, .team li {
  height: 200px;
  letter-spacing: -1px; }

.about li:nth-child(2n), .team li:nth-child(2n) {
  margin-left: 35px; }

.about > p, .team > p {
  padding: 0 10px; }

.team {
  margin-left: 10px; }

.copyright {
  clear: both; }

#monetization article, #advertising article {
  display: block;
  float: left;
  margin-right: 7.42297%;
  width: 100%;
  margin-bottom: 50px; }

#monetization article:last-child, #advertising article:last-child {
  margin-right: 0; }

#display-fix  {
  display: block;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%; }

#display-fix:last-child {
  margin-bottom: 100px; }

#display-fix * {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#little-links a {
  display: block;
  margin-left: 15px;
  margin-right: 15px; }

.content_links {
  display: block;
  width: 33%; }

.cotation {
  margin-bottom: 10px; }

.cotation_text h2 {
  text-align: center; }

.cotation_text {
  margin-top: 20px;
  margin-bottom: 0px; }

.cotation p {
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  margin-top:  10px;
  margin-bottom: 20px; }


}

.connection li {
    padding-left: 0;
    float: left;
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}

.connection ol {
    list-style: none;
    width: 600px;
}

.space {
    width: 511px;
    height: 100px;
}

.space_adv {
    margin-top: 30px;
}

.connection p {
    display: inline-block;
}

.forms_contact {
    height: 36px;
    margin-top: 14px;
    width: 511px;
    border: 1px solid #dadada;
    margin-right: 500px;
}

.fild {
    width:300px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.fild li {
    margin-bottom: 30px;
}

.sign-in  {
    border: solid 0px;
      background: #0382dc;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      color: white;
      font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica;
      font-size: 16px;
      text-align: center;
      height: 40px;
      width: 100px;
      padding: 4px 6px 4px 6px;

}

.sign-in:hover  {
    background: #0382dc;
}

.sign-in:hover  {
    background: #0064ab;
}

.sign-in:active  {
    background: #004576;
    text-decoration: none;
}

.sign-in:focus {
    background: #004576;
    outline: none;
}


.forms_error {
    height: 36px;
    margin-top: 14px;
    width: 511px;
    border: 1px solid #e74c3c;
    background-color: #fadcd9;
    margin-right: 500px;
}

input[type='text']{
    background: #ffffff;
    border: 1px solid #d1d1d1;
    color: #6a6a6a;
    font-size: 13px;
    padding: 5px;
}

input[type='email']{
    background: #ffffff;
    border: 1px solid #d1d1d1;
    color: #6a6a6a;
    font-size: 13px;
    padding: 10px;
}

input[type='textbox']{
      background: #ffffff;
      border: 1px solid #d1d1d1;
      color: #6a6a6a;
      font-size: 13px;
      padding: 10px;
}

header input[type='password']{
    background: #ffffff;
    border: 1px solid #d1d1d1;
    font-size: 12px;
    padding: 5px;
}


header input[type='email']{
    background: #ffffff;
    border: 1px solid #d1d1d1;
    color: #6a6a6a;
    font-size: 12px;
    padding: 5px;
}

header input[type='textbox']{
    background: #ffffff;
    border: 1px solid #d1d1d1;
    color: #6a6a6a;
    font-size: 12px;
    padding: 5px;
}

/*ERROR*/

[role='banner'] .forms_error {
    height: 36px;
    margin-top: 14px;
    width: 298px;
    border: 1px solid #e74c3c;
    background-color: #fadcd9;
}

header .forms_error {
    height: 24px;
    margin-top: 8px;
    margin-bottom: 10px;
    width: 138px;
    border: 1px solid #e74c3c;
    color: #e74c3c;
    background-color: #fadcd9;
}

.message {
    height:200px;
    text-align: start;
    padding:10;
    width:511px;
    margin-top:12px;
    margin-right: 428px;
}

textarea {
    background: #ffffff;
    border: 1px solid #d1d1d1;
    color: #6a6a6a;
    font-size: 13px;
    padding: 10px;
}

textarea:hover  {
    text-decoration: none;
}

textarea:active  {
    text-decoration: none;
}

textarea:focus {
    outline: none;
}